name: finance-control

services:
  db-finance-control:
    image: postgres:16
    container_name: db-finance-control
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: finance
      POSTGRES_PASSWORD: Finance#dev0
    volumes:
      - db-finance-control:/var/lib/postgresql/data
  
  identity.api:
    container_name: identity.api
    build:
      context: backend/FinanceControl/
      dockerfile: src/Identity.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
      ASPNETCORE_URLS: http://+;
      ASPNETCORE_HTTP_PORTS: 80
    ports:
      - 5001:80 
    depends_on:
      - db-finance-control  

volumes:
  db-finance-control: