services:
#  identity.api:
#    image: identity.api
#    build:
#      context: .
#      dockerfile: src/Identity.Api/Dockerfile
#
  db-finance-control:
    image: postgres:16
    container_name: db-finance-control
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: finance
      POSTGRES_USER: finance
      POSTGRES_PASSWORD: Finance#dev0
    volumes:
      - db-finance-control:/var/lib/postgresql/data

volumes:
  db-finance-control: