.fc-button-container {
  box-sizing: border-box;
  width: 100%;

  button {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--primary-white);
    border-radius: var(--primary-radius);
    border-color: var(--primary-gray);
    border-style: solid;
    border-width: 1px;

    transition: 150ms;
    &:hover {
      background-color: var(--light-gray);
    }
  }
}
