button {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 0.9em;

  &:hover {
    transition: 100ms;
  }
}

.severity-primary {
  &.type-filled {
    border-color: var(--black-1);
    background-color: var(--black-1);
    color: var(--white-1);

    &:hover {
      background-color: var(--black-2);
      border-color: var(--black-2);
    }
  }

  &.type-outlined {
    border-color: var(--black-3);
    background-color: var(--white-1);
    color: var(--black-1);

    &:hover {
      background-color: var(--black-3);
    }
  }

  &.type-text {
    border-color: var(--white-1);
    background-color: var(--white-1);

    &:hover {
      border-color: var(--black-3);
      background-color: var(--black-3);
    }
  }
}

.severity-success {
  &.type-filled {
    border-color: var(--green-1) ;
    background-color: var(--green-1);
    color: var(--white-1);

    &:hover {
      background-color: var(--green-2);
      border-color: var(--green-2);
    }
  }

  &.type-outlined {
    border-color: var(--green-3) ;
    background-color: var(--white-1);
    color: var(--green-1);

    &:hover {
      background-color: var(--green-3);
    }
  }

  &.type-text {
    border-color: var(--white-1);
    background-color: var(--white-1);
    color: var(--green-1);

    &:hover {
      background-color: var(--green-3);
    }
  }
}

.severity-warning {
  &.type-filled {
    border-color: var(--orange-1) ;
    background-color: var(--orange-1) ;
    color: var(--white-1);

    &:hover {
      background-color: var(--orange-2);
      border-color: var(--orange-2);
    }
  }

  &.type-outlined {
    border-color: var(--orange-3) ;
    background-color: var(--white-1);
    color: var(--orange-1);

    &:hover {
      background-color: var(--orange-3);
    }
  }

  &.type-text {
    background-color: var(--white-1);
    border-color: var(--white-1);
    color: var(--orange-1);

    &:hover {
      background-color: var(--orange-3);
      border-color: var(--orange-3);
    }
  }
}

.severity-info {
  &.type-filled {
    border-color: var(--blue-1);
    background-color: var(--blue-1);
    color: var(--white-1);

    &:hover {
      border-color: var(--blue-2);
      background-color: var(--blue-2);
    }
  }

  &.type-outlined {
    border-color: var(--blue-3);
    background-color: var(--white-3);
    color: var(--blue-1);

    &:hover {
      background-color: var(--blue-3);
    }
  }

  &.type-text {
    border-color: var(--white-1);
    background-color: var(--white-1);
    color: var(--blue-1);

    &:hover {
      background-color: var(--blue-3);
      border-color: var(--blue-3);
    }
  }
}

.severity-danger {
  &.type-filled {
    border-color: var(--red-1);
    background-color: var(--red-1);
    color: var(--white-1);

    &:hover {
      background-color: var(--red-2);
      border-color: var(--red-2);
    }
  }

  &.type-outlined {
    border-color: var(--red-3);
    background-color: var(--white-1);
    color: var(--red-1);

    &:hover {
      background-color: var(--red-3);
    }
  }

  &.type-text {
    border-color: var(--white-1);
    background-color: var(--white-1);
    color: var(--red-1);

    &:hover {
      background-color: var(--red-3);
      border-color: var(--red-3);
    }
  }
}

