.login-page {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;


  .login-container {
    width: 400px;
    padding: 10px;
    background-color: var(--primary-white);
    border: 1px solid var(--light-gray);
    border-radius: var(--primary-radius);

    h1 {
      font-size: 2em;
    }
  }

  .form-item-container {
    margin: 15px 0;

    width: 100%;
  }
}
