<div class="login-page">
  <div class="login-container">
    <h1>Login</h1>
    <form>
      <div class="form-item-container">
        <fc-input
          [formField]="loginForm.email"
          p-type="text"
          p-label="E-mail"
          p-placeholder="Seu e-mail."
        />
      </div>

      <div class="form-item-container">
        <fc-input
          [formField]="loginForm.password"
          p-type="password"
          p-label="Senha"
          p-placeholder="Sua senha"
        />
      </div>

      <div class="form-item-container">
        <fc-button
          p-label="Entrar"
          (p-click)="login()"
        />
        <p>Não tem uma conta? <a routerLink="/auth/register">Registre-se!</a></p>
      </div>
    </form>

  </div>
</div>

@if (isLoading()) {
  <app-loading />
}
