<div >
  <h1 class="text-header">Buttons filled</h1>
  <div style="display: flex; flex-direction: row;">
    <p-button label="Primary" type="filled" severity="primary"></p-button>
    <p-button label="Success" type="filled" severity="success"></p-button>
    <p-button label="Warning" type="filled" severity="warning"></p-button>
    <p-button label="Info" type="filled" severity="info"></p-button>
    <p-button label="Danger" type="filled" severity="danger"></p-button>
  </div>

  <h1 class="text-header">Buttons outlined</h1>
  <div style="display: flex; flex-direction: row;">
    <p-button label="Primary" type="outlined" severity="primary"></p-button>
    <p-button label="Success" type="outlined" severity="success"></p-button>
    <p-button label="Warning" type="outlined" severity="warning"></p-button>
    <p-button label="Info" type="outlined" severity="info"></p-button>
    <p-button label="Danger" type="outlined" severity="danger"></p-button>
  </div>

  <h1 class="text-header">Buttons text</h1>
  <div style="display: flex; flex-direction: row;">
    <p-button label="Primary" type="text" severity="primary"></p-button>
    <p-button label="Success" type="text" severity="success"></p-button>
    <p-button label="Warning" type="text" severity="warning"></p-button>
    <p-button label="Info" type="text" severity="info"></p-button>
    <p-button label="Danger" type="text" severity="danger"></p-button>
  </div>
</div>
