<div class="register-page">
  <p-card header="Register">
    <form >
      <div class="form-item-container">
        <p-floatlabel variant="on">
          <input type="text" id="name_label" pInputText pSize="small" fluid  />
          <label for="name_label">Name</label>
        </p-floatlabel>
      </div>

      <div class="form-item-container">
        <p-floatlabel variant="on">
          <input type="text" id="email_label" pInputText pSize="small" fluid  />
          <label for="email_label">E-mail</label>
        </p-floatlabel>
      </div>

      <div class="form-item-container">
        <p-floatlabel variant="on">
          <p-password size="small" id="password_label" [toggleMask]="true" fluid />
          <label for="password_label">Password</label>
        </p-floatlabel>
      </div>

      <div class="form-item-container">
        <p-floatlabel variant="on">
          <p-password size="small" id="confirm_password_label" [toggleMask]="true" fluid />
          <label for="confirm_password_label">Confirm password</label>
        </p-floatlabel>
      </div>

      <div class="form-item-container">
        <p-button label="Register" fluid  ></p-button>
      </div>
    </form>
  </p-card>
</div>
