:root {
  // Colors
  // Black
  --primary-black: #303030;

  // White
  --primary-white: #fff;

  // Gray
  --primary-gray: #9a9a9a;
  --light-gray: #e1e1e1;
  --lighter-gray: #f8f8f8;


  // Misc
  --primary-radius: 5px;
}

* {
  font-family: 'SF Pro', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--primary-black);
  position: relative;
  box-sizing: border-box;
  font-size: 1em;
}

html, body {
  min-width: 100vh;
  min-height: 100vh;
  background-color: var(--lighter-gray);
}
