:root {
  // Colors
  // Black
  --primary-black: #303030;

  // White
  --primary-white: #fff;

  // Gray
  --primary-gray: #9a9a9a;
  --light-gray: #e1e1e1;


  // Misc
  --primary-radius: 5px;
}


* {
  font-family: 'SF Pro', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--primary-black);
  position: relative;
  box-sizing: border-box;
  font-size: 1em;
}

html, body {
  width: 100%;
  height: 100%;
}
