<div class="register-page">
  <div class="register-container">
    <h1>Register</h1>
    <form >
      <div class="form-item-container">
        <fc-input
          [formField]="registerForm.name"
          p-label="Nome"
          p-placeholder="Seu nome completo"
        />
      </div>

      <div class="form-item-container">
        <fc-input
          [formField]="registerForm.email"
          p-label="E-mail"
          p-placeholder="Seu e-mail"
        />
      </div>

      <div class="form-item-container">
        <fc-input
          [formField]="registerForm.password"
          p-label="Senha"
          p-placeholder="Sua senha"
          p-type="password"
        />
      </div>

      <div class="form-item-container">
        <fc-input
          [formField]="registerForm.confirmationPassword"
          p-label="Confirmar senha"
          p-placeholder="Confirme a senha"
          p-type="password"
        />
      </div>

      <div class="form-item-container">
        <fc-button p-label="Registre-se" (p-click)="register()" />
        <p>Já tem uma conta? <a routerLink="/auth/login">Entre aqui!</a> </p>
      </div>
    </form>
  </div>
</div>

@if (isLoading()){
  <app-loading />
}
