.register-page {
  background-color: var(--p-slate-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .register-container {
    min-width: 400px;
  }

  .form-item-container {
    margin: 15px 0;
  }
}
